include /values/mixins

doctype html
html
  head
    block pre-head
      meta(charset='utf-8')
    
    block head
      title!= app.name
      
    block scripts
      script(src="https://cdn.polyfill.io/v2/polyfill.js?features=IntersectionObserver,Promise,fetch")
        
      +npm('vue/dist/vue.js')
      +npm('vue-router/dist/vue-router.js')
      +npm('systemjs/dist/system.js')
      +npm('slugify')
      +script('waffle')
      
      script.
        waffle.view = `#{view}`
        waffle.app = `#{app.name}`
        waffle.routeDecorator = `!{routeDecorator}`
        waffle.err = !{!err || err.status === 200 ? false : JSON.stringify(err)}
        
      +script('/components/fetcher')
      
    block route-scripts
      +script('routes')
      
    block styles
      +npm('reset.css')
      +npm('nprogress/nprogress.css')
      +font('Source Sans Pro', [ 200, 400, 700 ])
      
  body
    #app
      block router
        router-view
        
    block post-scripts
      +npm('nprogress')
      +script('router')
      +script('app')
