include /values/mixins

doctype html
html
  head
    block pre-head
      meta(charset='utf-8')
    
    block head
      title!= app.name
      
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous")
      
    link(rel="shortcut icon" href="/index/img/favicon.ico")
    link(rel="shortcut icon" type="image/png" href="/index/img/favicon.png")
      
    block scripts
      script(src="https://cdn.polyfill.io/v2/polyfill.js?features=IntersectionObserver,Promise,fetch")
        
      +npm('vue/dist/vue.js')
      +npm('vue-router/dist/vue-router.js')
      +npm('systemjs/dist/system.js')
      +npm('slugify')
      +script('waffle')
      
      script.
        waffle.view = `#{view}`
        waffle.app = `#{app.name}`
        waffle.routeDecorator = `!{routeDecorator}`
        waffle.err = !{!err || err.status === 200 ? false : JSON.stringify(err)}
        
      +script('/components/fetcher')
      
    block routes
      +script('routes')
      
    block styles
      +npm('reset.css')
      +npm('nprogress/nprogress.css')
      +font('Source Sans Pro', [ 200, 400, 700 ])
      
  body
    #app
      block router
        router-view
        
    block post-scripts
      +npm('nprogress')
      +script('router')
      +script('app')
